$main-width: 92%;
$inner-max-width: 1500px;
$text-black: rgba(0, 0, 0, 1);
$text-gray: rgba(0, 0, 0, 0.4);
$very-light-gray: rgba(0, 0, 0, 0.03);
$light-gray: rgba(0, 0, 0, 0.2);
$light-blue-bg-color: rgba(0, 145, 255, 0.1);
$mid-blue-bg-color: rgba(204, 233, 255, 1);
$blue-text-color: rgba(0, 145, 255, 1);
$red-link-color: #eb5358;
$yellow-link-color: #ebb853;
$wash-color: #f7f6f3;
$font-stack: "SF Pro Text", "Helvetica Neue", -apple-system, BlinkMacSystemFont,
  "Helvetica", "Segoe UI", "Arial", sans-serif;
$header-button-height: 26px;
$default-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12) !important;
$big-boi-box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12) !important;
